/* Файл из проекта Block-Engine https://github.com/Wasilich/block-engine - автор Wasilich http://webdesign.ru.net/ */
/* Axiomatic CSS reset */
* {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline;}
ol, ul {list-style: none; padding: 0;}
blockquote, q {quotes: none}
table {border-collapse: collapse; border-spacing: 0}
* {box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
/* End of CSS reset */
/* Основное */
body {background: #fff; font-family: 'Roboto', sans-serif; color: #444;}
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif; font-weight: 400; font-style: italic; color: #777;}
#header {background: #e0e6ef; padding-top: 8px; padding-bottom: 8px;}
#article {margin-top: 10vh;}
/* group & block */
[class*=group], [class*=block] {
    display: block;
	box-sizing: border-box;
	overflow: auto;
}
[class*=block] {float: left;}
[class*=group] {clear: both;}
/* group&block ширина. Используя эти правила, можно создавать новые классы самостоятельно */
[class*=group-100], [class*=block-100] {width: 100%;}
[class*=group-098], [class*=block-098] {width: 98%;}
[class*=group-090], [class*=block-090] {width: 90%;}
[class*=group-080], [class*=block-080] {width: 80%;}
[class*=group-070], [class*=block-070] {width: 70%;}
[class*=group-060], [class*=block-060] {width: 60%;}
[class*=group-050], [class*=block-050] {width: 50%;}
[class*=group-040], [class*=block-040] {width: 40%;}
[class*=group-033], [class*=block-033] {width: 33.33333333%;}
[class*=group-030], [class*=block-030] {width: 30%;}
[class*=group-025], [class*=block-025] {width: 25%;}
[class*=group-020], [class*=block-020] {width: 20%;}
[class*=group-016], [class*=block-016] {width: 16.66666667%;}
[class*=group-014], [class*=block-014] {width: 14.28571429%;}
[class*=group-012], [class*=block-012] {width: 12.5%;}
[class*=group-011], [class*=block-011] {width: 11.11111111%;}
[class*=group-010], [class*=block-010] {width: 10%;}
[class*=group-009], [class*=block-009] {width: 9.09090909%;}
[class*=group-008], [class*=block-008] {width: 8.33333333%;}
[class*=group][class*=form], [class*=block][class*=form] {padding: 1em 2.5em 1.5em;}
/* Отступы "margin" */
[class*=off-001] {margin-left: 1%;}
[class*=off-005] {margin-left: 5%;}
[class*=off-008] {margin-left: 8.33333333%;}
[class*=off-009] {margin-left: 9.09090909%;}
[class*=off-010] {margin-left: 10%;}
[class*=off-011] {margin-left: 11.11111111%;}
[class*=off-012] {margin-left: 12.5%;}
[class*=off-014] {margin-left: 14.28571429%;}
[class*=off-015] {margin-left: 15%;}
[class*=off-016] {margin-left: 16.66666667%;}
[class*=off-020] {margin-left: 20%;}
[class*=off-025] {margin-left: 25%;}
[class*=off-030] {margin-left: 30%;}
[class*=off-033] {margin-left: 33.33333333%;}
[class*=off-035] {margin-left: 35%;}
[class*=off-040] {margin-left: 40%;}
[class*=off-045] {margin-left: 45%;}
[class*=off-050] {margin-left: 50%;}
/* Отступы "margin" с двух сторон */
[class*=offset-001] {margin-left: 1%; margin-right: 1%;}
[class*=offset-005] {margin-left: 5%; margin-right: 5%;}
[class*=offset-010] {margin-left: 10%; margin-right: 10%;}
[class*=offset-012] {margin-left: 12.5%; margin-right: 12.5%;}
[class*=offset-015] {margin-left: 15%; margin-right: 15%;}
[class*=offset-020] {margin-left: 20%; margin-right: 20%;}
[class*=offset-025] {margin-left: 25%; margin-right: 25%;}
[class*=offset-030] {margin-left: 30%; margin-right: 30%;}
[class*=offset-033] {margin-left: 33.33333333%; margin-right: 33.33333333%;}
/* Класс bordered (будьте внимательны с цифровыми значениями, меняйте их одновременно (в примере - 1px)) */
[class*=bordered] {border: solid 1px #808080;}
[class*=bordered] + [class*=-bordered] {margin-top: -1px;}
[class*=bordered] p {padding: 15px 31px}
/* Float blocks */
[class*=push-left], [class*=pull-left] {float: left;}
[class*=push-right], [class*=pull-right] {float: right;}
[class*=pull-left] {position: absolute; margin-left: 0;}
[class*=pull-right] {position: absolute; margin-right: 0;}
/* Centered */
[class*=center-text] {text-align: center;}
[class*=centered] {top: 50%; left: 50%; transform: translate(-50%, -50%);}
/* Full screen */
[class*=full-screen] {width: 100vw; height: 100vh;}
/* Класс edge позволяет удержать пустой блок от коллапса */
[class*=edge]:before {content: "\00A0";height: auto;}
/* Buttons */
.button {
    padding: 10px 20px;
	border: solid 1px #46a;
	color: #46a;
}
[class*=button][class*=bg] {
	background: #57b;
	color: #fff;
}
[class*=bg]:hover {background: #46a;}
[class*=bg]:active {background: #47b;}
[class*=button] {
    display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	margin: 2px 0;
}
[class*=button] a:link, [class*=button] a:visited, [class*=button] a:hover, [class*=button] a:active {color: #fff !important; text-decoration: none;}
[class*=button-][class*=-tiny] {
    font-size: 12px;
	padding: 3px 30px 2px;
}
[class*=button-][class*=-tiny][class*=-rounded] {
    border-radius: 9px;
}
[class*=button-][class*=-default][class*=-rounded] {
    border-radius: 20px;
}
[class*=button-][class*=-soft] {
    border-radius: 5px;
}
[class*=button-][class*=-block]  {
    border-left: solid 1px #abc;
	border-right: solid 1px #46a;
}
[class*=button-][class*=-block]:nth-of-type(1) {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
[class*=button-][class*=-block]:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
/* /Buttons */
