/** Файл из проекта Block-Engine https://github.com/Wasilich/block-engine - автор Wasilich http://webdesign.ru.net/ **/
/* Eric Meyer CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height: 1}
ol, ul {list-style: none}
blockquote, q {quotes: none}
:focus {outline: 0}
ins {text-decoration: none}
del {text-decoration: line-through}
table {border-collapse: collapse;border-spacing: 0}
/* End of Eric Meyer CSS reset */
/* group & block */
[class*=group], [class*=block] {
    display: block;
	box-sizing: border-box;
	float: left;
	margin: 0;
	padding: 0;
	overflow: visible;
}
/* group&block ширина. Используя эти правила, можно создавать новые классы самостоятельно */
[class*=group-100], [class*=block-100] {width: 100%;}
[class*=group-98], [class*=block-98] {width: 98%;}
[class*=group-90], [class*=block-90] {width: 90%;}
[class*=group-80], [class*=block-80] {width: 80%;}
[class*=group-70], [class*=block-70] {width: 70%;}
[class*=group-60], [class*=block-60] {width: 60%;}
[class*=group-50], [class*=block-50] {width: 50%;}
[class*=group-40], [class*=block-40] {width: 40%;}
[class*=group-33], [class*=block-33] {width: 33.33333333%;}
[class*=group-30], [class*=block-30] {width: 30%;}
[class*=group-25], [class*=block-25] {width: 25%;}
[class*=group-20], [class*=block-20] {width: 20%;}
[class*=group-16], [class*=block-16] {width: 16.66666667%;}
[class*=group-14], [class*=block-14] {width: 14.28571429%;}
[class*=group-12], [class*=block-12] {width: 12.5%;}
[class*=group-11], [class*=block-11] {width: 11.11111111%;}
[class*=group-010], [class*=block-010] {width: 10%;}
[class*=group-09], [class*=block-09] {width: 9.09090909%;}
[class*=group-08], [class*=block-08] {width: 8.33333333%;}
[class*=group][class*=form], [class*=block][class*=form] {padding: 1em 2.5em 1.5em;}
/**  Отступы "margin"  **/
[class*=group-][class*=-off-00], [class*=block-][class*=-off-00] {margin-left: 0;}
[class*=group-][class*=-off-01], [class*=block-][class*=-off-01] {margin-left: 1%;}
[class*=group-][class*=-off-05], [class*=block-][class*=-off-05] {margin-left: 5%;}
[class*=group-][class*=-off-08], [class*=block-][class*=-off-08] {margin-left: 8.33333333%;}
[class*=group-][class*=-off-09], [class*=block-][class*=-off-09] {margin-left: 9.09090909%;}
[class*=group-][class*=-off-010], [class*=block-][class*=-off-010] {margin-left: 10%;}
[class*=group-][class*=-off-11], [class*=block-][class*=-off-11] {margin-left: 11.11111111%;}
[class*=group-][class*=-off-12], [class*=block-][class*=-off-12] {margin-left: 12.5%;}
[class*=group-][class*=-off-14], [class*=block-][class*=-off-14] {margin-left: 14.28571429%;}
[class*=group-][class*=-off-15], [class*=block-][class*=-off-15] {margin-left: 15%;}
[class*=group-][class*=-off-16], [class*=block-][class*=-off-16] {margin-left: 16.66666667%;}
[class*=group-][class*=-off-20], [class*=block-][class*=-off-20] {margin-left: 20%;}
[class*=group-][class*=-off-25], [class*=block-][class*=-off-25] {margin-left: 25%;}
[class*=group-][class*=-off-30], [class*=block-][class*=-off-30] {margin-left: 30%;}
[class*=group-][class*=-off-33], [class*=block-][class*=-off-33] {margin-left: 33.33333333%;}
[class*=group-][class*=-off-35], [class*=block-][class*=-off-35] {margin-left: 35%;}
[class*=group-][class*=-off-40], [class*=block-][class*=-off-40] {margin-left: 40%;}
[class*=group-][class*=-off-45], [class*=block-][class*=-off-45] {margin-left: 45%;}
[class*=group-][class*=-off-50], [class*=block-][class*=-off-50] {margin-left: 50%;}
/**  Отступы "margin" с двух сторон  **/
[class*=group-][class*=-offset-01], [class*=block-][class*=-offset-01] {margin-left: 1%; margin-right: 1%;}
[class*=group-][class*=-offset-05], [class*=block-][class*=-offset-05] {margin-left: 5%; margin-right: 5%;}
[class*=group-][class*=-offset-010], [class*=block-][class*=-offset-010] {margin-left: 10%; margin-right: 10%;}
[class*=group-][class*=-offset-12], [class*=block-][class*=-offset-12] {margin-left: 12.5%; margin-right: 12.5%;}
[class*=group-][class*=-offset-15], [class*=block-][class*=-offset-15] {margin-left: 15%; margin-right: 15%;}
[class*=group-][class*=-offset-20], [class*=block-][class*=-offset-20] {margin-left: 20%; margin-right: 20%;}
[class*=group-][class*=-offset-25], [class*=block-][class*=-offset-25] {margin-left: 25%; margin-right: 25%;}
[class*=group-][class*=-offset-30], [class*=block-][class*=-offset-30] {margin-left: 30%; margin-right: 30%;}
[class*=group-][class*=-offset-33], [class*=block-][class*=-offset-33] {margin-left: 33.33333333%; margin-right: 33.33333333%;}
/* Класс bordered (будьте внимательны с цифровыми значениями, меняйте их одновременно (в примере - 1px)) */
[class*=-bordered] {border: solid 1px #808080;padding: -1px;}
[class*=-bordered]+[class*=-bordered] {margin-top: -1px;}
[class*=-bordered] p {padding: 15px 31px}
/* Классы закруглённых блоков */
[class*=-rounded] {border-radius: 6px;}
[class*=-round-top] {border-top-left-radius: 6px;border-top-right-radius: 6px;}
[class*=-round-bottom] {border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
/**  Основное  **/
p {padding: 1em 2em;}
body, html{background: #fff; font-family: 'Trebuchet MS', Helvetica CY, DejaVu Sans, sans-serif;color: #555;}
html {font-size:16px;}
input, button, select, textarea {font-family: inherit;font-size: inherit;line-height: inherit;}
* {box-sizing: border-box;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
ul, ol{padding: 0;}
*:before, *:after {box-sizing: border-box;}
input {outline: none;}
#menu {position:fixed;width:100%;top:0;z-index:10;line-height:4em;padding:0 2em;background:#bfbfbf;}
#header {position:relative;width:100%;height: 300px;margin-top:0;padding-top: 10em;background:#a0a0a0;}
#main {background: #fff;}
#footer {width:100%;margin:0;line-height:3em;padding:0.5em 2em;background:#333;color:#d0d0d0;}
#menu ul {float:left;margin-bottom:0.25em;}
#menu ul li a:link, #menu ul li a:visited, #footer ul li a:link, #footer ul li a:visited {color:#fff;}
h1 {
	font-size:2em;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0 auto 0.75em;
	text-align:center;
}
h4{
	font-size:1.125em;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 100%;
	margin: 1em auto 0.75em;
	text-align:center;
}
/* Addition */
.pull-left {float: left;}
.pull-right {float: right;}
.bordered
[class*=group-][class*=-bg-color01], [class*=block-][class*=-bg-color01] {background: #f8f8f8;}
.bg-color01 {background: #f8f8f8;}
.bg-color02 {background: #e0e0e0;}
.bg-color03 {background: #d8d8d8;}
.bg-color04 {background: #d0d0d0;}
.bg-color05 {background: #c8c8c8;}
.bg-color06 {background: #c0c0c0;}
/* Form */
.padding-left {padding-left: 4px;}
.padding-right {padding-right: 4px;}
label {padding: 8px;font-size: 90%;line-height: 150%;}
.input, textarea {padding: 4px 12px;border-radius: 2px;}
textarea {height: 100px;overflow: auto;}
/* /Form */
[class*=center-text] {padding: 0;text-align: center !important;}
[class*=center-text] img {margin: 6px auto 0;}
.pull-right {float: right;}
.pull-left {float: left;}
/**  Класс edge позволяет удержать пустой блок от коллапса  **/
.edge:before {content: "\00A0";height: auto;}
/* /edge */
/* Форма комментариев с ячейками фиксированной ширины */
.comment-wrapper {float: right;width: 100%;margin-left: -150px;}
.comment-content {margin-left: 150px;}
.block-fixed-width {float: left;width: 150px;}
[class*=center-text][class*=avatar] img {text-align: center;margin: 24px auto;}
[class*=comment-content] {padding: 8px 12px;line-height: 1.25em;}
[class*=comment-content][class*=center-text] {padding-left: 0 !important;}
/* Buttons */
[class*=button] {display: inline-block;margin: 0 !important;padding: 0.75em 2.5em 0.875em;text-transform: uppercase;cursor: pointer;}
[class*=button-][class*=-default] {background: #808080;border:solid 1px #5f5f5f;color: #fff;}
[class*=button-]:hover {background-color: #8f8f8f;border: solid 1px #000;}
[class*=button-]:active {background-image: linear-gradient(to bottom, #707070, #909090);}
/* Media Queries */
@media screen and (max-width: 1025px) {
[class*=group-80][class*=-offset-010], [class*=block-80][class*=-offset-010] {width: 98%; margin-left: 1%;margin-right: 1%;}
}
@media screen and (max-width: 801px) {
[class*=group-60][class*=-offset-20], [class*=block-60][class*=-offset-20] {width: 80%; margin-left: 10%;margin-right: 10%;}
}
@media screen and (max-width: 641px) {
[class*=group-80][class*=-offset-010], [class*=block-80][class*=-offset-010] {width: 100%; margin-left: 0;margin-right: 0;}
[class*=group-60][class*=-offset-20], [class*=block-60][class*=-offset-20] {width: 94%; margin-left: 3%;margin-right: 3%;}
[class*=group-50][class*=padding-left], [class*=block-50][class*=padding-left], [class*=group-50][class*=padding-right], [class*=block-50][class*=padding-right] {width: 100%;padding-left: 0;padding-right: 0;}
[class*=block-50][class*=center-text] {width: 100%;}
.edge {display: none;}
.comment-wrapper {margin-left: -120px;}
.comment-content {margin-left: 120px;}
.block-fixed-width {width: 120px;}
[class*=center-text][class*=avatar] img {margin: 11px auto;}
[class*=group-], [class*=block-] {font-size:96%;}
}
