/* Файл из проекта Block-Engine https://github.com/Wasilich/block-engine - автор Wasilich http://webdesign.ru.net/ */
/* Buttons */
.button {
    padding: 10px 20px;
	border: solid 1px #46a;
	color: #46a;
}
[class*=button][class*=-bg] {
	background: #57b;
	color: #fff;
}
[class*=-bg]:hover {background: #46a;}
[class*=-bg]:active {background: #47b;}
[class*=button] {
    display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	margin: 2px 0;
}
[class*=button] a:link, [class*=button] a:visited, [class*=button] a:hover, [class*=button] a:active {color: #fff !important; text-decoration: none;}
[class*=button-][class*=-tiny] {
    font-size: 12px;
	padding: 3px 30px 2px;
}
[class*=button-][class*=-tiny][class*=-rounded] {
    border-radius: 9px;
}
[class*=button-][class*=-default][class*=-rounded] {
    border-radius: 20px;
}
[class*=button-][class*=-soft] {
    border-radius: 5px;
}
[class*=button-][class*=-block]  {
    border-left: solid 1px #abc;
	border-right: solid 1px #46a;
}
[class*=button-][class*=-block]:nth-of-type(1) {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
[class*=button-][class*=-block]:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
/* /Buttons */
