/* Form */
form * {font-family: inherit;}
form section {padding: 0 4px;}
form {padding: 24px;}
label {display: block; font-size: 14px; color: #57b;}
input, textarea {margin-bottom: 16px;}
input, select {
    border: 1px solid #ccc;
    padding: 0 12px;
}
textarea {
    border: 1px solid #ccc;
    padding: 8px 12px;
}
textarea:focus, input:focus, select:focus {
    border-color: #57b;
}
textarea, input[type=text] {
    appearance: none;
    outline: 0;
}
@media screen and (max-width: 1024px) {
    .md {width: 090%; margin-left: 5%; margin-right: 5%;}
}
@media screen and (max-width: 680px) {
    .sm {width: 100%;}
}